@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Satisfy&display=swap');


@font-face {
    font-family: 'nome2';
    src: url('..folder_repository_vscode\GitHub\Websites\meu_site\font\Roboto') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'nome';
    src: url('..folder_repository_vscode\GitHub\Websites\meu_site\font\Satisfy') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #E6DACE;
    --cor1: #F4ECE6;
    --cor2: #0050FF;
    --cor3: #80f0ff;
    --cor4: #02E9D1;

    --fonte-nome: 'nome', 'Roboto', sans-serif, 'Satisfy', 'cursive';
    --fonte-nome: 'nome2', 'Roboto', sans-serif, 'Satisfy', 'cursive';
    /*--fonte-escura: 'escura', 'nome', 'Roboto', sans-serif,'Satisfy';*/

}

* {
    color: black;
}

    body {
        margin: 0;
        /* Remove margens padrão do body */
        padding: 0;
        /* Remove preenchimento padrão do body */
        background-color: var(--cor0);
        overflow-x: hidden;
    }

@media screen and (min-width: 1175px) {
    header {
        background-color: #fff;
        width: 100%;
        display: inline-block;
        min-height: 110px;
        position: fixed;
        top: 0;
        box-shadow: inset 0px 19px 21px 0px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 2;

    }

    /*.quadradinho-azul {
        background-color: var(--cor2);
        width: 10px; 
        height: 10px;
        display: inline-block;
        margin: 0px 0px 5px 65px;
    }*/

    header h1 {
        display: inline-block;
        font-family: 'Roboto', 'Satisfy', cursive;
        font-size: 2.7rem;
        font-weight: bold;
        padding: 10px 10px 0px 70px;
        text-align: left;
    }

    header p {
        display: inline-block;
        text-align: left;
        font-size: 1.2rem;
        margin: 0;

    }

    header nav {
        text-align: right;
        font-family: var(--fonte-nome);
        margin: -50px 50px 10px 0px;
        font-size: 1.2rem;
    }

    nav>a {
        margin-left: 45px;
        text-decoration: none;
        font-weight: 800;
        transition: font-size 0.3s;
    }

    nav>a:hover {
        color: var(--cor2);
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 1.4rem;
    }

    #currículo {
        color: var(--cor2);
    }

    main .azul>a {
        display: inline-block;
        padding: 10px 20px;
        /* Espaçamento interno do botão */
        border: 2px solid #000;
        border-radius: 25px;
        /* Cantos arredondados */
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        margin: 0px 20px 17px 0px;
        width: 85px;
        height: 15px;
        font-size: 1rem;
        text-decoration: none;
        font-family: var(--fonte-nome2);
    }

    main .azul a {
        /*Currículo*/
        background-color: var(--cor2);
        color: #fff;
        border-color: var(--fonte-nome);
    }

    main .azul a.azul:hover {
        /*Currículo*/
        background-color: #fff;
        color: #000;
    }

    .cima {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 54%;
        margin: 120px auto -12px auto;
    }

    #curriculop {
        order: 2;
        /* Colocar 'Experiência' como o segundo na ordem */
        margin-bottom: 110px;
        font-size: 1.7rem;
    }

    .azul {
        order: 3;
        /* Colocar o link 'CURRÍCULO' como o terceiro na ordem */
        margin-top: 40px;
        background-color: var(--cor2);
        color: #fff;
        display: inline-block;
        padding: 10px 20px;
        /* Espaçamento interno do botão */
        border: 2px solid #000;
        border-radius: 25px;
        /* Cantos arredondados */
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        height: 15px;
        font-size: 1rem;
        text-decoration: none;
        font-family: var(--fonte-nome2);
    }

    .azul a:hover {
        /*Currículo*/
        background-color: #fff;
        color: #000;
    }

    #experiencia {
        margin-bottom: -43px;
        font-size: 1.4rem;
    }

    #educacao {
        font-size: 1.4rem;
        margin-top: -70px;
        margin-bottom: 34px;
    }

    .incluindo {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .linha-vertical {
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 100px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 0px 0px 95px 30px;
    }

    .linha-vertical:hover {
        height: 40%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    .linha-vertical2 {
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 115px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 85px 0px 43px 20px;
    }

    .linha-vertical2:hover {
        height: 44%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    #cont2 .linha-vertical {
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 100px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 0px 0px 95px 30px;
    }

    #cont2 .linha-vertical:hover {
        height: 40%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    .container1 {
        background-color: #fff;
        width: 56.5%;
        height: 337px;
        margin: -30px auto 105px auto;
        box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.1);
    }

    #cont2 .lado1 {
        width: 400px;
    }

    #cont2 .lado2 h2 a{
        color: #0050FF;
        text-decoration: underline;
        transition: color 0.5s;
    }

    #cont2 .lado2 h2 a:hover{
        color: #000;
    }

    #cont2 .incluindo .lado2 ul a {
        text-decoration: none;
        transition: color 0.5s;
    }

    #cont2 .incluindo .lado2 ul a:hover {
        color: var(--cor2);
    }

    #cont2 .linha-vertical2 {
        width: 2px;
        /* Largura inicial da linha */
        margin: 85px 0px 43px 10px;
        height: 155px;
    }

    #cont2 .linha-vertical2:hover {
        height: 65%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */

    }

    /*.container1 .lado1 h2 {
        color: #0050FF;
    }*/

    .container1 .lado1 p {
        margin-top: -10px;
        font-size: 1rem;
    }

    .coluna1 .lado1 .espaço {
        margin-top: 24px;
        /* Ajuste o valor conforme necessário para obter o espaçamento desejado */
    }

    .container1 .incluindo .lado1 p img {
        width: 22px;
        height: 22px;
        margin: 0px 0px -6px 0px;
    }

    .coluna1 .lado1 a {
        text-decoration: none;
    }

    .coluna1 .lado1 a abbr {
        transition: color 0.3s;
    }

    .coluna1 .lado1 .espaço :hover {
        color: var(--cor2);
    }

    .coluna1 .lado1 abbr {
        text-decoration: none;
    }

    #obs {
        text-align: end;
        margin-right: 7px;
        margin-top: -25px;
    }

    #dd {
        margin: 0px 0px 0px 2px;
        font-size: 1rem;
    }

    .coluna1 {
        display: flex;
        justify-content: flex-end;
        margin: 0px 0px 100px 15px;
    }

    .lado1 {
        width: 140px;
    }

    .lado2 {
        margin: 40px 0px 0px 30px;
        width: 500px;
    }

    .lado2 ul li {
        margin-bottom: 5px;
        margin-left: -38px;
    }

    .destacado {
        color: #0050FF;
    }

    #cont3 {
        display: block;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    .linha1,
    .linha2 {
        margin-left: 35px;
    }

    .linha1 h2,
    .linha2 h2 {
        margin: -15px 0px 0px 0px;
        padding: 25px 0px 0px 0px;
    }

    .linha1 ul,
    .linha2 ul {
        list-style-type: square;
        font-size: 1.1rem;
    }

    .listas ul li {
        margin: 0px 10px 20px -13px;
    }

    .listas .ul2 li {
        margin-right: 27px;
    }

    .listas {
        display: flex;
    }

    footer {
        background-color: #fff;
        /* Cor de fundo do footer */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        text-align: center;
        /* Centraliza o conteúdo do footer */
        position: absolute;
        margin-top: -100px;
        width: 100%;
        padding: 10px;
        /* Espaçamento interno do footer */
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    footer .coluna1 p {
        margin: 80px 0px 0px 12px;
        font-size: 0.8rem;
    }

    footer ul li {
        list-style-type: none;
        margin: 14px 0px -5px 0px;
    }


    footer .coluna2 {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }

    footer #links2 {
        display: flex;
        /* Isso alinha os links horizontalmente */
        width: auto;
        height: auto;
        margin: 0px 15px 0px 0px;
    }


    #links2 a {
        display: flex;
        /* Isso alinha os links horizontalmente */
        height: 25px;
        /* Defina a altura desejada para os links */
        padding: 0px 0px 0px 12px;
        margin: 7px 5px 0px 0px;
    }
}

/* Telas Médias (Tablets) -----------------------------------------------------------------------------------*/
@media screen and (min-width: 767px) and (max-width: 1174px) {
    /* Estilos para telas entre 767px e 1174px */
    header {
        background-color: #fff;
        width: 100%;
        display: inline-block;
        min-height: 110px;
        position: fixed;
        top: 0;
        box-shadow: inset 0px 19px 21px 0px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 2;
    }

    /*.quadradinho-azul {
        background-color: var(--cor2);
        width: 10px; 
        height: 10px;
        display: inline-block;
        margin: 0px 0px 5px 65px;
    }*/

    header h1 {
        display: inline-block;
        font-family: 'Satisfy', cursive;
        font-size: 2.7rem;
        font-weight: normal;
        padding: 0px 10px 10px 70px;
        margin-top: 14px;
        margin-bottom: 40px;
        text-align: left;
    }

    header p {
        display: inline-block;
        text-align: left;
        font-size: 1.2rem;
        margin: 0;

    }

    header nav {
        text-align: right;
        font-family: var(--fonte-nome);
        margin: -50px 50px 10px 0px;
        font-size: 1.2rem;
    }

    nav>a {
        margin-left: 45px;
        text-decoration: none;
        font-weight: 800;
        transition: font-size 0.3s;
    }

    nav>a:hover {
        color: var(--cor2);
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 1.4rem;
    }

    #currículo {
        color: var(--cor2);
    }

    main .azul>a {
        display: inline-block;
        padding: 10px 20px;
        /* Espaçamento interno do botão */
        border: 2px solid #000;
        border-radius: 25px;
        /* Cantos arredondados */
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        margin: 0px 20px 17px 0px;
        width: 85px;
        height: 15px;
        font-size: 1rem;
        text-decoration: none;
        font-family: var(--fonte-nome2);
    }

    main .azul a {
        /*Currículo*/
        background-color: var(--cor2);
        color: #fff;
        border-color: var(--fonte-nome);
    }

    main .azul a.azul:hover {
        /*Currículo*/
        background-color: #fff;
        color: #000;
    }

    .cima {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 120px auto -12px auto;
    }

    #curriculop {
        order: 2;
        /* Colocar 'Experiência' como o segundo na ordem */
        margin-bottom: 110px;
        font-size: 1.7rem;
    }

    .azul {
        order: 3;
        /* Colocar o link 'CURRÍCULO' como o terceiro na ordem */
        margin-top: 40px;
        background-color: var(--cor2);
        color: #fff;
        display: inline-block;
        padding: 10px 20px;
        /* Espaçamento interno do botão */
        border: 2px solid #000;
        border-radius: 25px;
        /* Cantos arredondados */
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        height: 15px;
        font-size: 1rem;
        text-decoration: none;
        font-family: var(--fonte-nome2);
    }

    .azul a:hover {
        /*Currículo*/
        background-color: #fff;
        color: #000;
    }

    #experiencia {
        margin-bottom: -43px;
        font-size: 1.4rem;
        margin-left: 10px;
    }

    #educacao {
        font-size: 1.4rem;
        margin-top: -70px;
        margin-bottom: 34px;
        margin-left: 16%;
    }

    .incluindo {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .linha-vertical {
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 100px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 0px 0px 95px 30px;
    }

    .linha-vertical:hover {
        height: 40%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    .linha-vertical2 {
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 115px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 85px 0px 43px 20px;
    }

    .linha-vertical2:hover {
        height: 44%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    #cont2 .linha-vertical {
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 100px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 0px 0px 95px 30px;
    }

    #cont2 .linha-vertical:hover {
        height: 40%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    .container1 {
        background-color: #fff;
        width: 71.5%;
        height: 337px;
        margin: -30px auto 105px auto;
        box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.1);
    }

    #cont2 .lado1 {
        max-width: 400px;
        min-width: 280px;
    }

    #cont2 .lado2 h2 a{
        color: #0050FF;
        text-decoration: underline;
        transition: color 0.5s;
    }

    #cont2 .lado2 h2 a:hover{
        color: #000;
    }

    #cont2 .incluindo .lado2 ul a {
        text-decoration: none;
        transition: color 0.5s;
    }

    #cont2 .incluindo .lado2 ul a:hover {
        color: var(--cor2);
    }

    #cont2 .linha-vertical2 {
        width: 2px;
        /* Largura inicial da linha */
        margin: 85px 0px 43px 10px;
        height: 155px;
    }

    #cont2 .linha-vertical2:hover {
        height: 65%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */

    }

    /*.container1 .lado1 h2 {
        color: #0050FF;
    }*/

    .container1 .lado1 p {
        margin-top: -10px;
        font-size: 1rem;
    }

    .coluna1 .lado1 .espaço {
        margin-top: 24px;
        /* Ajuste o valor conforme necessário para obter o espaçamento desejado */
    }

    .container1 .incluindo .lado1 p img {
        width: 22px;
        height: 22px;
        margin: 0px 0px -6px 0px;
    }

    .coluna1 .lado1 a {
        text-decoration: none;
    }

    .coluna1 .lado1 a abbr {
        transition: color 0.3s;
    }

    .coluna1 .lado1 .espaço :hover {
        color: var(--cor2);
    }

    .coluna1 .lado1 abbr {
        text-decoration: none;
    }

    #obs {
        text-align: end;
        margin-right: 7px;
        margin-top: -18px;
        font-size: 0.8rem;
    }

    #dd {
        margin: 0px 0px 0px 2px;
        font-size: 1rem;
    }

    .coluna1 {
        display: flex;
        justify-content: flex-end;
        margin: 0px 0px 100px 15px;
    }

    .lado1 {
        width: 140px;
    }

    .lado2 {
        margin: 40px 0px 0px 30px;
        width: 500px;
    }

    .lado2 ul li {
        margin-bottom: 5px;
        margin-left: -38px;
        font-size: 1rem;
    }

    .destacado {
        color: #0050FF;
    }

    #cont3 {
        display: block;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    .linha1,
    .linha2 {
        margin-left: 35px;
    }

    .linha1 h2,
    .linha2 h2 {
        margin: -15px 0px 0px 0px;
        padding: 25px 0px 0px 0px;
    }

    .linha1 ul,
    .linha2 ul {
        list-style-type: square;
        font-size: 1.1rem;
    }

    .listas ul li {
        margin: 0px 10px 20px -13px;
    }

    .listas .ul2 li {
        margin-right: 27px;
    }

    .listas {
        display: flex;
    }

    footer {
        background-color: #fff;
        /* Cor de fundo do footer */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        text-align: center;
        /* Centraliza o conteúdo do footer */
        position: absolute;
        margin-top: -100px;
        width: 100%;
        padding: 10px;
        /* Espaçamento interno do footer */
        height: 70px;
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 0px 0px;
    }

    footer .coluna1 p {
        margin: 50px 0px 0px 12px;
        font-size: 0.8rem;
    }

    footer ul li {
        list-style-type: none;
        margin: 14px 0px -5px 0px;
    }


    footer .coluna2 {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }

    footer #links2 {
        display: flex;
        /* Isso alinha os links horizontalmente */
        width: auto;
        height: auto;
        margin: 0px 15px 0px 0px;
    }


    #links2 a {
        display: flex;
        /* Isso alinha os links horizontalmente */
        height: 25px;
        /* Defina a altura desejada para os links */
        padding: 0px 0px 0px 12px;
        margin: 7px 5px 0px 0px;
    }
}

/*-------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px){
    header {
        background-color: #fff;
        width: 100%;
        display: inline-block;
        min-height: 110px;
        position: fixed;
        top: 0;
        box-shadow: inset 0px 19px 21px 0px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 2;
    }

    /*.quadradinho-azul {
        background-color: var(--cor2);
        width: 10px; 
        height: 10px;
        display: inline-block;
        margin: 0px 0px 5px 65px;
    }*/

    header h1 {
        display: inline-block;
        font-family: 'Roboto', 'Satisfy', cursive;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 0px 10px 10px 70px;
        margin-top: 14px;
        margin-bottom: 40px;
        text-align: left;
    }

    header p {
        display: inline-block;
        text-align: left;
        font-size: 1rem;
        margin: 0;

    }

    header nav {
        display: block;
        text-align: center;
        font-family: var(--fonte-nome);
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        font-size: 1.2rem;
    }

    nav>a {
        margin-left: 15px;
        text-decoration: none;
        font-weight: 800;
        transition: font-size 0.3s;
    }

    nav>a:hover {
        color: var(--cor2);
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 1.4rem;
    }

    .outra{
        margin-left: -20px;
    }

    #currículo {
        color: var(--cor2);
    }

    main .azul>a {
        display: inline-block;
        padding: 10px 20px;
        /* Espaçamento interno do botão */
        border: 2px solid #000;
        border-radius: 25px;
        /* Cantos arredondados */
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        margin: 0px 20px 17px 0px;
        width: 85px;
        height: 15px;
        font-size: 1rem;
        text-decoration: none;
        font-family: var(--fonte-nome2);
    }

    main .azul a {
        /*Currículo*/
        background-color: var(--cor2);
        color: #fff;
        border-color: var(--fonte-nome);
    }

    main .azul a.azul:hover {
        /*Currículo*/
        background-color: #fff;
        color: #000;
    }

    .cima {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 120px auto -12px auto;
    }

    #curriculop {
        order: 2;
        /* Colocar 'Experiência' como o segundo na ordem */
        margin-bottom: 110px;
        font-size: 1.7rem;
    }

    .azul {
        order: 3;
        margin-top: 53px;
        background-color: var(--cor2);
        color: #fff;
        display: inline-block;
        padding: 10px 8px;
        /* Espaçamento interno do botão */
        border: 2px solid #000;
        border-radius: 25px;
        /* Cantos arredondados */
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        height: 10px;
        font-size: 0.8rem;
        text-decoration: none;
        font-family: var(--fonte-nome2);
    
    }

    .azul a:hover {
        /*Currículo*/
        background-color: #fff;
        color: #000;
    }

    #experiencia {
        margin-bottom: -43px;
        font-size: 1.4rem;
        margin-left: 10px;
    }

    #educacao {
        font-size: 1.4rem;
        margin-top: -70px;
        margin-bottom: 34px;
        margin-left: 11%;
    }

    .incluindo {
        justify-items: start;
        height: 100%;
        width: 100%;
    }

    .linha-vertical {
        display: inline-block;
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 100px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 0px 0px 0px 22px;
    }

    .linha-vertical:hover {
        height: 60%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    .linha-vertical2 {
        display: flex;
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 191px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 49px 0px 12px 22px;
    }

    .linha-vertical2:hover {
        height: 44%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    #cont2 .linha-vertical {
        display: inline-block;
        border-left: 2px solid #2369ff;
        /* Espessura e cor da linha */
        width: 2px;
        /* Largura inicial da linha */
        height: 121px;
        /* Altura inicial da linha */
        transition: height 0.5s;
        /* Ajuste a duração da transição para torná-la mais visível */
        margin: 0px 0px 26px 22px;
    }

    #cont2 .linha-vertical:hover {
        height: 40%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */
    }

    .container1 {
        background-color: #fff;
        width: 88.5%;
        min-height: 465px;
        margin: -30px auto 105px auto;
        box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.1);
    }

    #cont2 .lado1 {
        max-width: 400px;
        min-width: 280px;
    }

    #cont2 .lado2 h2 a{
        color: #0050FF;
        text-decoration: underline;
        transition: color 0.5s;
    }

    #cont2 .lado2 h2 a:hover{
        color: #000;
    }

    #cont2 .incluindo .lado2 ul a {
        text-decoration: none;
        transition: color 0.5s;
    }

    #cont2 .incluindo .lado2 ul a:hover {
        color: var(--cor2);
    }

    #cont2 .linha-vertical2 {
        width: 2px;
        /* Largura inicial da linha */
        margin: 50px 0px 20px 22px;
        height: 155px;
    }

    #cont2 .linha-vertical2:hover {
        height: 65%;
        /* Quando o mouse passar sobre ela, aumenta a altura para 100% (esticando verticalmente) */

    }

    /*.container1 .lado1 h2 {
        color: #0050FF;
    }*/

    .container1 .lado1 p {
        margin-top: -10px;
        font-size: 1rem;
    }

    .coluna1 .lado1 .espaço {
        margin-top: 24px;
        /* Ajuste o valor conforme necessário para obter o espaçamento desejado */
    }

    .container1 .incluindo .lado1 p img {
        width: 22px;
        height: 22px;
        margin: 0px 0px -6px 0px;
    }

    .coluna1 .lado1 a {
        text-decoration: none;
    }

    .coluna1 .lado1 a abbr {
        transition: color 0.3s;
    }

    .coluna1 .lado1 .espaço :hover {
        color: var(--cor2);
    }

    .coluna1 .lado1 abbr {
        text-decoration: none;
    }

    #obs {
        text-align: end;
        margin-right: 7px;
        margin-top: -18px;
        font-size: 0.8rem;
    }

    #dd {
        margin: 0px 0px 0px 2px;
        font-size: 1rem;
    }

    .coluna1 {
        display: inline-block;
        margin: 0px 0px 0px 8px;
    }

    .lado1 {
        width: 230px;
    }

    .lado2 {
        display: inline-block;
        margin: -260px 0px 0px 50px;
        width: 300px;
    }

    .lado2 ul li {
        margin-bottom: 5px;
        margin-left: -38px;
        font-size: 1rem;
    }

    .destacado {
        color: #0050FF;
    }

    #cont3 {
        display: block;
        margin-bottom: 20px;
        min-height: 200px;
    }

    .linha1,
    .linha2 {
        margin-left: 35px;
    }

    .linha1 h2,
    .linha2 h2 {
        margin: -15px 0px 0px 0px;
        padding: 25px 0px 0px 0px;
    }

    .linha1 ul,
    .linha2 ul {
        list-style-type: square;
        font-size: 1.1rem;
    }

    .listas ul li {
        margin: 0px 10px 20px -13px;
    }

    .listas .ul2 li {
        margin-right: 27px;
    }

    .listas {
        display: flex;
    }

    footer {
        background-color: #fff;
        /* Cor de fundo do footer */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        text-align: center;
        /* Centraliza o conteúdo do footer */
        position: absolute;
        width: 95%;
        padding: 10px;
        /* Espaçamento interno do footer */
        height: 70px;
        display: flex;
    }

    footer .coluna1 p {
        margin: 0px 0px 0px 0px;
        font-size: 0.6rem;
    }

    footer ul{
        margin-right: -20px;
    }

    footer ul li {
        list-style-type: none;
        margin: -10px -9px 14px -2px;
        }

    footer .coluna2 {
        display: flex;
    }

    footer #links2 {
        display: flex;
        /* Isso alinha os links horizontalmente */
        width: auto;
        height: auto;
    }

    #links2 a {
    display: flex;
    height: 18px;
    padding: 0px 0px 0px 10px;
    margin: -5px 10px 0px 0px;
    }

    #separado{
        display: block;
    }

    #elemento-para-ocultar {
        display: none;
    }
}